<!DOCTYPE html>
<section class="accounts-detail-header d-flex justify-content-between pt-2">
    <div class="col-lg-4">
        <h1>Account Details</h1>
    </div>
    <div class="col-lg-8 text-right">
        <h1>Filtros</h1>
    </div>
</section>

<section class="accounts-detail-content pt-3">
    <!-- Account Details -->
    <div class="row pb-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Account Summary</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p><strong>Amount of Money:</strong> $10,000</p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Number of Transactions:</strong> 50</p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Transaction Types:</strong> Income, Expense, Investment</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p><strong>Other Detail 1:</strong> Detail value</p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Other Detail 2:</strong> Detail value</p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Other Detail 3:</strong> Detail value</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cards -->
    <div class="row pb-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Tipos de gastos / ingresos</h4>
                </div>
                <div class="card-body">
                    <!-- Chart content -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Historia de gastos / Ingresos</h4>
                </div>
                <div class="card-body">
                    <!-- Chart content -->
                </div>
            </div>
        </div>
    </div>
    <!-- Transactions -->
    <div class="row pb-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Transacciones recientes</h4>
                </div>
                <div class="card-body">
                    <!-- Transactions content -->
                </div>
            </div>
        </div>
    </div>
</section>