.navbar {
  background-color: var(--bg-dark-color);
  color: white;
  width: 25%;
  max-width: 250px;
  position: fixed;
  height: 100%;
  left: 0px;
}

.navbar .navbar-nav {
  flex-direction: column;
}

.navbar .navbar-nav .collapse .navbar-nav {
  flex-direction: column;
  padding-left: 20px;
}

.navbar .main-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar .nav-link {
  color: white;
  font-size: 22px;
}

.navbar .nav-link.active {
  color: var(--primary-color);
}

.navbar .nav-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.navbar .dropdown-item {
  padding-left: 15px;
}

/* Ensure collapse works correctly */
.navbar .collapse {
  display: none;
}

.navbar .collapse.show {
  display: block;
}

