.dashboard-content .main-row{
    height: calc(100vh - 445px);
}

.dashboard-content .transactions-card{
    height: calc(65% - 0.55rem);
}

.dashboard-content .quickTransactions-card{
    height: calc(35% - 0.5rem);
}

.dashboard-content .charts-card{
    height: calc(50% - 0.5rem);
}

.dashboard-content .sm-charts-card{
    height: 100%;
    width: calc(50% - 0.5rem);
}

.dashboard-content .charts-card .chart-container,
.dashboard-content .sm-charts-card .chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.dashboard-content .investments-card,
.dashboard-content .projects-card{
    height: calc(100vh - 770px);
}

.dashboard-content .investments-container{
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-content .investments-container::-webkit-scrollbar { display: none; }
.dashboard-content .investments-container::-webkit-scrollbar-thumb { display: none; }   
.dashboard-content .investments-container::-webkit-scrollbar-track { display: none; } 

.dashboard-content .investment{
    min-width: 160px;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
}

.dashboard-content .investment .investment-header h4,
.dashboard-content .investment .investment-header span{
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
}

/* .dashboard-content .investment .investment-header h4 i{
    color: var(--bitcoin-color);
    font-size: 16px;
} */

.dashboard-content .investment:hover,
.dashboard-content .investment:active {
    background-color: var(--bg-dark-color);
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
}

.dashboard-content .investment-arrow {
    font-size: 24px;
    transition: rotate 0.5s ease, opacity 0.3s ease;
    opacity: 0; 
}

.dashboard-content .investment:hover .investment-arrow,
.dashboard-content .investment:active .investment-arrow {
    opacity: 1; 
    rotate: -45deg;
    transition: rotate 0.5s ease, opacity 0.3s ease;
}

.dashboard-content .projects-card .projects-container{
    overflow-y: auto;
    max-height: 115px;
}

.dashboard-content .projects-card .project{
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
}

.dashboard-content .projects-card .project i{
    transition: rotate 0.5s ease;
}

.dashboard-content .projects-card .project:hover,
.dashboard-content .projects-card .project:active{
    background-color: var(--bg-dark-color);
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.dashboard-content .projects-card .project:hover i,
.dashboard-content .projects-card .project:active i{
    rotate: -45deg;
    transition: rotate 0.5s ease;
}

.dashboard-content .projects-card .project h4{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.dashboard-content .projects-card .project .progress{
    height: 5px;
}

.dashboard-content .projects-card .project .progress-bar{
    background-color: var(--primary-color);
}